# Import the important Library

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import the dataset

In [46]:
dataset = pd.read_csv('F:\\Multi Linear Regression\\Multiple-Linear-Regression-master\\50_Startups.csv')

In [47]:
dataset.head() #show the dataset

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Find out the dependent and independent variable

In [48]:
x = dataset.iloc[:,:-1] #Store the Independent Varibale in x

In [49]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [51]:
y = dataset.iloc[:,4] #store the dependent variable in y

In [52]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Change the catgorical data

In [53]:
states = pd.get_dummies(x['State'],drop_first=True) #create a dummie variable

In [54]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [55]:
x = x.drop('State',axis = 1)

In [56]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [57]:
x = pd.concat([x,states],axis = 1) #concate the coloumn

In [58]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [60]:
from sklearn.model_selection import train_test_split #import train test for training and testing

In [61]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 40)

In [33]:
from sklearn.linear_model import LinearRegression #import Linear Regression

In [62]:
regressor = LinearRegression() #create a object or Linear Regression 
regressor

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
regressor.fit(x_train,y_train) #create the model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
y_pred = regressor.predict(x_test)

In [65]:
y_pred

array([ 97886.52854489, 100689.59753428,  50766.18448373,  66829.09134735,
        46799.45010527, 189232.29587133, 128691.24829829, 170348.90916943,
       135737.6839506 , 180434.30891563])

In [66]:
from sklearn.metrics import r2_score

In [42]:
score = r2_score(y_test,y_pred)#check the r square value

In [43]:
score

0.9297662471341652